{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}

{% block content %}

    <div id="container1" class='twentytwenty-container' data-orientation="{{ orientation }}" data-initialOffset="{{ initialOffset }}" data-before-label="{{ leftPictureLabel|default('widget_picturecomparator.leftPictureLabel.default')|trans({}, 'victoire') }}" data-after-label="{{ rightPictureLabel|default('widget_picturecomparator.rightPictureLabel.default')|trans({}, 'victoire') }}">
        <img src="{{ leftPicture.url }}" alt="{{ leftPictureLabel }}"/>
        <img src="{{ rightPicture.url }}" alt="{{ rightPictureLabel }}"/>
    </div>

{% endblock content %}
